@keyframes pop-in {
    0% { 
        transform: scale(0);
    }
    100% { 
        transform: scale(1);
    }
}
@keyframes pop-out {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}